@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap');

*, body, html {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}

.page-queer-title-container {
    margin-bottom: 0 !important;
}

.queer-flag-row {
    padding: 25px;
}

#queer-flag-information-copyright, #queer-flag-information-copyright-list > li {
    font-size: 12px !important;
    font-style: italic !important;
}

.footer-github-logo {
    max-height: 2rem;
    max-width: 2rem;
}
