*, body, html {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}

strong, #queer-flag-information-sources {
    font-weight: 700 !important;
}

.page-queer-title-container {
    margin-bottom: 0 !important;
}

.queer-flag-row {
    padding: 25px;
}

#queer-flag-information-copyright,
#queer-flag-information-copyright-list > li {
    font-size: 14px !important;
    font-style: italic !important;
}

#page-index-footer-version {
    font-size: 12px !important;
}

.footer-github-logo {
    max-height: 48px;
    max-width: 48px;
}
